.piilossa {
    display: none;
}

/* tablen tyylittelyt */
table {
    background-color: #fcfffc;

}

td > a {
    display: block;
}
td > ul {
    display: inline;
    padding: 0;
}

td > ul li {
    display: inline;
}

td > ul li:after {
    content: ", ";
}

td > ul li:last-child::after {
    content: "";
}

/* formin tyylittelyt */
form {
    background-color: #fcfffc;
    display: block;
    width: fit-content;
}

form fieldset {
    width: 15em;
}

form > fieldset label {
    display: block;
    padding: 2px;
}

form > fieldset label input {
    float: right;
    padding: 0.1em;
}

form > fieldset > input {
    clear: both;
}

form#lisaaJoukkue {
    background-color: white;
    display: block;
    width: fit-content;
}

form#lisaaJoukkue label > input[type="text"] {
    width: 65%;
}

fieldset#joukkueenKaikkiTiedot > label {
    padding: 1em;
}


fieldset#joukkueenKaikkiTiedot {
    padding-bottom: 4em;
}

fieldset#sarjakysely {
    width: 18em;
    padding-right: 1em;
    padding-bottom: 1em;
}

fieldset#sarjakysely > label {
    display: block;
}

fieldset#sarjakysely > label input {
    float: right;
}

fieldset#jasenkysely {
    margin-bottom: 1em;
    width: 18em;
    padding-right: 1em;
    padding-top: 1em;
}

fieldset#jasenkysely > label {
    padding-bottom: 1em;
}


input {
    border: solid #a5a8a4;
    border-width: 1px;
}

form input[type="text"] {
    margin-left: 1em;
    float: right;
}

form label {
    display: inline-block;
    min-width: 6em;
}