/* tablen tyylittelyt */
table {
    background-color: #fcfffc;

}

td > a {
    display: block;
}
td > ul {
    display: inline;
    padding: 0;
}

td > ul li {
    display: inline;
}

td > ul li:after {
    content: ", ";
}

td > ul li:last-child::after {
    content: "";
}

/* formin tyylittelyt */
form {
    background-color: #fcfffc;
    display: block;
    width: fit-content;
}

form#lisaaJoukkue {
    background-color: white;
    display: block;
    width: fit-content;
}

fieldset#sarjakysely {
    width: 10em;
}

fieldset#sarjakysely > label {
    float: left;
}

fieldset#sarjakysely > input {
    float: right;
}

input {
    border: solid #a5a8a4;
    border-width: 1px;
}

form input[type="text"] {
    margin-left: 1em;
    float: right;
}

form label {
    display: inline-block;
    min-width: 6em;
}